div {
  font-size: 34px;
  margin: 8rem 5rem;
  padding: 1.4rem 4rem;
  width: 25%;
  color: white;
  text-align: center;
  background-color: rgb(51, 88, 144);
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 5px 5px 2px rgb(42, 41, 41);
  transition: 1s;
  font-family:Georgia, 'Times New Roman', Times, serif
}

div:hover{
    box-shadow: 17px 18px 2px rgb(42, 41, 41);
    transform: translate(-15px, -10px) ;
    transition: 0.8s;
}

div:active {
  box-shadow: 2px 2px 2px rgb(42, 41, 41);
  transform: translate(3px, 3px);
  transition: 0.4s;
}

